<h1>New Work project user story</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.work_project_user_story_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.work_project_user_story_path(@conn, :index) %></span>
