<h1>Show Work project user story</h1>

<ul>

  <li>
    <strong>Status:</strong>
    <%= @work_project_user_story.status %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.work_project_user_story_path(@conn, :edit, @work_project_user_story) %></span>
<span><%= link "Back", to: Routes.work_project_user_story_path(@conn, :index) %></span>
