<script>
    function transform_hour(hour_string){
     let object = {};
     let hour = Number(hour_string);
     if (hour > 12) {
       object.afternoon = "PM";
       object.hour = hour - 12;
     } else {

     if (hour == 12) {
       object.afternoon = "PM";
       object.hour = hour;
     }
       else {
       object.afternoon = "AM";
       if (hour == 0) {
       object.hour = 12;
       } else{
         object.hour = hour;
       }
     };
     };
     return object;
   }

  function special_time(hour_string, minute_string){
      let hour = Number(hour_string);
      let minute = Number(minute_string);

     if(hour == 12 & minute == 0){
       return "(Noon🌞)"
     } else{
     	if(hour == 0 & minute == 0){
       return "(Midnight🌝)"
     } else{
       return ""
     }
     }
    }
   

   function transform_minute(minute){
     if(minute < 10) {
       return "0" + minute.toString();
     }
     else{
       return minute.toString();
     }
   }

function show_hour_format(){
 	let hour_input = document.getElementById("hour-input")
    let minute_input = document.getElementById("minute-input")
    
    let transformed_hour = transform_hour(hour_input.value)
    let formatted_minute = transform_minute(minute_input.value)
    let special_time_value = special_time(hour_input.value, minute_input.value)
    let final_format = transformed_hour.hour + ":" + formatted_minute + " " + transformed_hour.afternoon + special_time_value
 	
    let new_hour_element = document.getElementById("12-hour-format")
    new_hour_element.textContent = final_format
 }
</script>

<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :name %>
  <%= text_input f, :name, class: "rounded-input" %>
  <br>
  
  <%= label f, :hour %><%= select f, :time_hour, hour_options, id: "hour-input", class: "custom-select", value: "11", onChange: "show_hour_format()", style: "width: 100px;" %>
  <%= label f, :minute %>
  <%= select f, :time_minute, minute_options, class: "custom-select", id: "minute-input", value: "30", onChange: "show_hour_format()", style: "width: 100px;" %>
  ⏰ <span id="12-hour-format" style=""> 11:30 AM </span>
  <br>
  <%= checkbox f, :recurrent, value: "check"%>
  <%= label f, :Repeat, for: "recurrent" %>
  <br>
  <%= label f, :time_frequency %>
  <%= select f, :time_frequency, current_frequency_options, class: "custom-select", style: "width: 130px;" %>
  <%= hidden_input f, :habit_uuid, value: @conn.assigns.habit_uuid%>

  <div id="specific_date" style="visibility: visible">
  <%= radio_button f, :start_date_option, "today"%>
  <%= label f, :Today %>
  <br>
  <%= radio_button f, :start_date_option, "tomorrow" %>
  <%= label f, :Tomorrow %>
  <br>
    <%= radio_button f, :start_date_option, "specific_date" %>
  <%= label f, :Date %>
    
  <%= date_select f, :start_date%>
  </div>
  <br>
  
  <br>

  
  <div>
    <%= submit "Save", class: "btn btn-outline-primary" %>
  </div>
<% end %>
