<h1>New Project version</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.project_version_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.project_version_path(@conn, :index) %></span>
