<h1>Show Project version</h1>

<ul>

  <li>
    <strong>Description:</strong>
    <%= @project_version.description %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @project_version.name %>
  </li>

  <li>
    <strong>Public status:</strong>
    <%= @project_version.public_status %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.project_version_path(@conn, :edit, @project_version) %></span>
<span><%= link "Back", to: Routes.project_version_path(@conn, :index) %></span>
