<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :local_datetime %>
  <%= datetime_select f, :local_datetime %>
  <%= error_tag f, :local_datetime %>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
