<h1>New Habit completion</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.habit_completion_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.habit_completion_path(@conn, :index) %></span>
