<h2><%= @resp.work_project.name %></h2>

<ul>

  <li>
    <strong>Description:</strong>
    <%=raw (@resp.work_project.description_html) %>
  </li>

  <h4> User stories </h4>
  <%= for user_story <- @resp.user_stories do %>
    <li>
    <%= user_story.title %>, status: <%= user_story.work_status%>
    <br> <br>
  </li>

  <%= end %>

</ul>